* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul {
  list-style: none;
}

body {
  background-color: #a6c0d5;
}

button {
  cursor: pointer;
}

.main-image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
